@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap');

* {
  box-sizing: border-box;
}
html,
body,
#root,
body {
  font-family: "DM Sans", sans-serif;
  color: #303d40;
  font-weight: bold;
  background-color: #F6EEE5;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 75px;
  /* background-color: grey; */
  border: none;
  font-size: x-large;
  box-shadow: 0px 5px 20px;
  background-color: #C7BAFF;
  /* width: 100%; */
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5rem;
  height: 120px;
  border: none;
  gap: 3.75rem;
  margin-bottom: 0;
  position: sticky; 
  bottom: 0;
  background-color: #C7BAFF;
  // background-color: rgb(255, 252, 241);
  /* padding: 0px 10px; */
}

.navText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: x-large;
  border-radius: 50px;
  min-height: 100px;
  min-width: 100px;
  max-width: 100px;
  max-height: 100px;
  // background-color: red;
}

.navText:hover {
background-color: lightgrey;
}

.likesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  min-height: 8rem;
  max-height: 8rem;
  border-radius: 20px;
  margin: 2rem 2rem;
  background-color: rgb(255, 252, 241);
  box-shadow: 0px 5px 20px;
  font-size: small;

}

.likesImg {
  margin: 0 3rem;
}

.likesName {
  font-size: x-large;
}

.likesDelBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8rem;
  max-height: 8rem;
  border: none;
  border-radius: 20px;
  min-width: 75px;
  // margin: 0 0 0 10rem;
}

button:hover {
  cursor: pointer;
}

.input {
  width: 40px;
  border: none;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
  min-height: 15rem;
  min-width: 15rem;
}

.zipBio {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  box-shadow: 0px 2px 8px;
  border-radius: 15px;
  min-width: 65%;
  min-height: 2.5rem;
}
.userBio {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  box-shadow: 0px 2px 8px;
  border-radius: 15px;
  min-width: 65%;
  min-height: 2.5rem;
}

.find {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.findSettings {
  display: flex;
  flex-direction: row!important;
  justify-content: space-between;
  // gap: 8rem;
  margin: 1rem 0;

}

.searchInput {display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 2px 8px;
  border: 2px solid;
  min-width: 8rem;
  max-width: 8rem;

}

.findArea {
  box-shadow: 0px 2px 8px;
  border-radius: 15px;
  border: none;
}

.findResult {
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 2px 8px;
  max-width: 95%;
  background-color: #C3ED5B;
}

.resName {
  margin-bottom: 0.5rem;
  font-size: larger;
}

.resImage {
  display: flex;
  flex-direction: row;
  justify-content: center!important;
  align-items: flex-start;
  gap: 1rem;
  // padding: 0 1rem;
  border: 2px solid;
  border-radius: 2px;
  margin-bottom: 1rem;
  // background-color: red;
}

.resBio {
  display: flex;
  flex-direction: row;
  font-size: larger;
  // padding: 0 2rem;
  gap: 1rem 1rem;
}

.resultArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 2px 8px;
  max-width: 98%;
  min-height: 20rem;
  // min-width: 99%;
  margin: 0.5rem 1rem;
  background-color: #F6EEE5;
  padding: 0 1.5rem;
}

.resultInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 10px 10px 20px;
}

.response {
  display: flex;
  flex-direction: row!important;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 20px;
  padding: 0 4rem;
  margin: 1rem 0;
}

.res {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  box-shadow: 0px 2px 8px;
  min-height: 80px;
  min-width: 80px;
  max-width: 80px;
  max-height: 80px;
  background-color: #F6EEE5;
}

.res:active {
  // filter: grayscale(0);
  background-color: #C3ED5B!important;
}

.bioImg {
  width: 256px;
  height: 256px;
  object-fit: cover;
  border-radius: 50%;
}
.zipBio{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.userInfo {
  // text-align: center;
  border: none;
  padding-left: 10%;
  // width: 80%;
  // height: 5vh;
  background-color: #F6EEE5;
  // margin-top: 20px;
}

// .inputDiv {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

 
// -------------------------------------------------------------
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #f9f9f9;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */ 
